.outer {
  min-height: 100vh !important;
}

.contact-us {
  color: white;
  font-family: Cormorant;
}

.form-label {
  color: white;
}

.submitBtn {
  background-color: transparent;
  border-color: white;
}
