.hero-section {
  //background-image: url("../assets/noah.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center; /* Vertically aligns content */
  justify-content: center; /* Horizontally aligns content */
  text-align: center;
  position: relative;
}

.hero-section .container {
  max-width: 1000px; /* Constrain width for better centering */
  display: flex;
  //align-items: center;
  flex-direction: column;
}

.hero-section h1 {
  font-size: 4rem;
  //font-weight: bold;
  margin-bottom: 20px; /* Add spacing below the heading */
  align-self: flex-start;
  font-family: Cormorant;
}

.hero-section p {
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  margin-bottom: 30px; /* Add spacing below the paragraph */
  align-self: flex-end;
  text-align: left;
  color: #898d92;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px dashed #fff;
  border-radius: 0 !important;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}

.order-button:hover {
  background-color: #f0a500;
  color: #000;
  border-color: #f0a500;
}

.color-layers {
  height: 100vh;
  width: 100%;
  z-index: -100;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;

  .color-layer-1 {
    background: #233942;
    width: 50%;
    height: 100%;
  }
  .color-layer-2 {
    background-color: 0d0f11;
    width: 50%;
    height: 100%;
  }
}

.heroimg {
  z-index: -99;
  //padding-top: 20px;
  position: absolute;
  width: 50%;
  align-self: flex-end;
}
